.bg-image{
    background-image: url('https://www.tallengestore.com/cdn/shop/products/1500_8b93f991-541c-4a1d-bda3-d64b10122b82.jpeg?v=1478782335');
    opacity: 0.8;
}
.text-new{
    text-shadow: 2vw;
}